---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import 'minima';

.hackers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  color: white;

  h1 a {
    font-size: 20px;
    color: white;
  }

  .hacker {
    border-radius: 15px;
    border: 2px solid #D5D5D5;
    margin: 3px;
    padding: 3px;
    text-align: center;
    background-color: grey;
    width: 230px;
    height: 300px;
    background: transparent linear-gradient(to bottom, #ffffff 75px, #2E353C 75px) repeat scroll 0 0;

    .profile {
      border: 5px solid white;
      border-radius: 100%;
      width: 150px;
      background-color: grey;
    }
  }
}
